ayame/.env
ayame/config/certificates/
ayame/config/dynamic/*
!ayame/config/dynamic/bootstrap.yml
ayame/config/GeoLite2-*.mmdb
ayame/cert-sync/cert-sync-key
ayame/cert-sync/cert-sync-key.pub
michi/config/certificates/
michi/config/dynamic/*
!michi/config/dynamic/bootstrap.yml
michi/config/GeoLite2-*.mmdb
michi/cert-sync/cert-sync-key
michi/cert-sync/cert-sync-key.pub
