ayame/.env
ayame/config/certificates/
ayame/config/dynamic/*
!ayame/config/dynamic/bootstrap.yml
ayame/config/GeoLite2-*.mmdb
ayame/config/account.key
ayame/config/key
ayame/config/db/
ayame/config/logs/
ayame/config/traefik/logs/
ayame/cert-sync/cert-sync-key
ayame/cert-sync/cert-sync-key.pub
ayame/cert-sync/dashboard-cert/
ayame/haproxy/run/
michi/config/certificates/
michi/config/dynamic/*
!michi/config/dynamic/bootstrap.yml
michi/config/GeoLite2-*.mmdb
michi/config/account.key
michi/config/key
michi/config/db/
michi/config/logs/
michi/config/traefik/logs/
michi/cert-sync/cert-sync-key
michi/cert-sync/cert-sync-key.pub
michi/cert-sync/synced-certs/
urad/data/
ayame/wireguard/privatekey
ayame/wireguard/publickey
michi/wireguard/privatekey
michi/wireguard/publickey
